<div class= "container">
<h1>About company page</h1>
<p>Our company focuses on social media management on twitter, facebook, instagram, tiktok, 
    and pinterest. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis illo cumque 
    quis at fugit, odit debitis, praesentium voluptatem cupiditate minus sit veniam corrupti ad, repellendus labore reprehenderit 
    consequatur obcaecati dolorem?
</p>
</div>